.searchbar {

flex: 50%;
  background-color: white;
  border: 0.1px solid white;
  padding: 0.3rem;
  padding-left: 0.5rem;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  width: 250pt;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 150px;
  font-style: verdana;
}

